binary/

local/

.build/

cache/

chroot/

config/binary
config/bootstrap
config/chroot
config/common
config/source
config/includes.chroot_after_packages/etc/skel/SuaveOS/Shadowsocks/*
config/control

*.modified_timestamps
*.log

*.files
*.install
*.live

*.contents
*.files
*.iso
*.zsync
*.packages

